<section class="aboutpage">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h2 class="aboutpage_title text-white">借りたい方向け</h2>
        <hr class="divider light my-4">
        <p class="text-white-50 md-4">
          これから１人暮らしを始めたいけど、オーナーさんがどんな人なのか分からないし不安...<br>
          周辺地域のことを知りたい・・・等、LivingAloneではあなたの不安を解消しながらの物件探しができます。<br>
          物件を見て、気になった物件のオーナーさんのプロフィールをチェック。<br>
          いいねを送って、相手からもいいねが返りお互いにマッチングすればやり取りスタート。<br>
          相手のことや物件のことを色々と聞くことができます。さあ、まずは物件を見てみましょう！<br><br>
          ※❶本アプリで契約自体はできません。契約は個人間でお願いします。<br>
          ※❷1人暮らしの方専用のため、2人以上で住むことを目的としたお住まいをお探しの方のご利用はご遠慮下さい。<br>
          ※❸お急ぎで物件をお探しの方のご利用はご遠慮下さい。<br>
          ※❹マッチングが成立しないと相手とのやり取りは行えません。
        </p>
        <hr class="divider light my-4">
        
        <h4 class="aboutpage_howto text-white">〜使い方〜</h4>
        <p>
          ①まずは気になる物件を探す。<br>
          ②気になる物件を見つけたら、詳細を確認後オーナーさんのプロフィールをチェック。<br>
          ③気に入れば、「いいね」をクリック。<br>
          ④オーナーさんからも「いいね」が返ってくれば、マッチング成立！<br>
          ⑤メッセージでやり取りをしましょう。
          ⑥ポイントは【自己紹介をしっかりと記載すること】です！
        </p>
        <hr class="divider light my-4">
        <h4 class="aboutpage_registration">実際に物件を探してみる<br>
          <i class="fas fa-arrow-down"></i>
        </h4>
        <h3>
          <%= link_to "物件を探す", houses_path, class: "btn aboutpage_btn2" %>
        </h3>
      </div>
    </div>
  </div>
</section>