<section class="aboutpage">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h2 class="aboutpage_title text-white">貸したい方向け</h2>
        <hr class="divider light my-4">
        <p class="text-white-50 md-4">
          1人暮らし用の物件を貸したいけれどどんな人か分からないのに貸すのは不安...<br>
          まずはどんな人なのか、人柄を知ってから貸したい...等。<br>
          LivingAloneでは、そういったあなたの不安を解消しながら物件を提供することができます。<br>
          いいねが送られてきた相手のプロフィールを見て、気に入った方にいいねをお返し。<br>
          見事、マッチングが成立すれば相手とのやり取りがスタート！<br>
          相手のことを色々と聞くことができます。さあ、まずは物件を登録してみましょう！<br><br>
          ※❶本アプリで契約自体はできません。契約は個人間でお願いします。<br>
          ※❷1人暮らしの方専用のため、2人以上を目的としたお住まいのご登録はご遠慮下さい。<br>
          ※❸ご契約をお急ぎの方のご利用はご遠慮下さい。<br>
          ※❹マッチングが成立しないと相手とのやり取りは行えません。
        </p>
        <hr class="divider light my-4">

        <h4 class="aboutpage_howto text-white">〜使い方〜</h4>
        <p>
          ①まずは貸し出したい物件を登録する。(登録数に制限なし)<br>
          ②登録後、相手から「いいね」が届くのを待つ。<br>
          ③相手から「いいね」が届いた後、相手のプロフィールをチェック。<br>
          ④気に入れば「いいね」を返し、マッチング成立！<br>
          ⑤メッセージでやり取りをしましょう。<br>
          ⑥ポイントは【自己紹介をしっかりと記載すること】です！
        </p>
        <hr class="divider light my-4">
        <h4 class="aboutpage_registration">物件を登録する場合はこちら<br>
          <i class="fas fa-arrow-down"></i>
        </h4>
        <h3>
          <%= link_to "物件を登録する", new_house_path, class: "btn aboutpage_btn" %>
        </h3>
      </div>
    </div>
  </div>
</section>