// Place all the styles related to the Chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// chats/show
.chatShowpage {
  background: linear-gradient(#70e1f5, #ffd194);
  overflow: hidden;
  &_title {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: white;
    background-color: black;
  }
}