// Place all the styles related to the Chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// chats/show
.chatShowpage {
  background: linear-gradient(#70e1f5, #ffd194);
  overflow: hidden;
  &_content {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
  }
  &_form {
    margin-bottom: 30px;
    text-align: center;
  }
  &_message {
    border-top: 1px solid gray;
    text-align: center;
  }
}