// devise/registration/new 
.signuppage {
  background-color: skyblue;
  overflow: hidden;
  &_title {
    margin-top: 50px;
    text-align: center;
    color: white;
    background-color: black;
  }
  &_btn {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
  }
}

// devise/session/new
.loginpage {
  background-color: skyblue;
  overflow: hidden;
  &_title {
    margin-top: 50px;
    text-align: center;
    color: white;
    background-color: black;
  }
  &_btn {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  &_btn1 {
    text-align: center;
    margin-bottom: 20px;
  }
  &_link {
    text-align: right;
    margin-bottom: 20px;
    border-bottom: solid 1px black;
  }
  &_registration {
    text-align: center;
    color: white;
    background-color: black;
  }
  &_description {
    text-align: center;
    margin-top: 20px;
  }
}

// その他
.field {
  margin-top: 20px;
}

.error_messages {
  color: red;
}

.col-md-2 {
  background-color: springgreen;
}
.col-md-1 {
  background-color: violet;
}