// Place all the styles related to the Houses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.houseNewpage {
  background-color: skyblue;
  overflow: hidden;
  &_title {
    margin-top: 50px;
    text-align: center;
    color: white;
    background-color: black;
  }
  &_field {
    margin-top: 20px;
  }
  &_btn {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
  }
}