// Place all the styles related to the Houses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// houses/new
.houseNewpage { 
  background: linear-gradient(#70e1f5, #ffd194);
  overflow: hidden;
  &_title {
    margin-top: 50px;
    text-align: center;
    color: white;
    background-color: black;
  }
  &_field {
    margin-top: 20px;
  }
  &_btn {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
  }
}


// houses/index
.houseIndexpage {
  background: linear-gradient(#70e1f5, #ffd194);
  overflow: hidden;
  &_title {
    margin-top: 50px;
    text-align: center;
    color: white;
    background-color: black;
  }
  &_search {
    text-align: center;
    margin-bottom: 50px;
  }
  &_bukken {
    display: block;
    border-radius: 3px;
    width: 500px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    box-shadow: 0 6px 20px 0 rgba(0,0,0,.15);
    background: #fff;
    overflow: hidden;
    word-break: break-word;
    &_title {
      font-size: 18px;
      padding: 10px;
      border-bottom: 1px solid black;
    }
  }
  &_main {
    font-size: 12px;
    padding: 10px;
  }
  &_overview {
    margin: 10 0 0;
    &_list {
      line-height: 1.5;
    }
  }
  &_images {
    padding-top: 2px;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
    float: left;
  }
  &_btn {
    margin-top: 10px;
    margin-left: 200px;
    background-color: coral;
    color: white;
  }
}


// houses/show・houses/confirm
.houseShowpage {
  background: linear-gradient(#70e1f5, #ffd194);
  color: black;
  &_img {
    margin-top: 50px;
    border-radius: 50%;
    overflow: hidden;
  }
  &_line {
    margin-top: 20px;
    border: 1px solid gray;
    background-color: white;
  }
  &_title {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
    text-align: center;
    font-size: 30px;
    border-bottom: 1px solid gray;
  }
  &_user {
    margin-top: 15px;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  &_list {
    border-bottom: 1px solid gray;
  }
  &_info {
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
  }
  &_introduction {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 20px;
    border-top: 1px solid gray;
  }
  &_btn {
    display: block;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 30px;
    background-color: darkgray;
    color: white;
    margin-bottom: 20px;
  }
  &_btn2 {
    display: block;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 30px;
    background: #33e905;
    color: white;
    margin-bottom: 20px;
  }
  &_btn3 {
    display: block;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 30px;
    background:coral;
    color: white;
    margin-bottom: 20px;
  }
}


// houses/edit
.houseEditpage {
  background: linear-gradient(#70e1f5, #ffd194);
  overflow: hidden;
  &_title {
    margin-top: 50px;
    text-align: center;
    color: white;
    background-color: black;
  }
  &_field {
    margin-top: 20px;
  }
  &_btn {
    text-align: center;
    margin-top: 30px;
    color: white;
  }
  &_btn2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
  }
}