// Place all the styles related to the Talks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// talks/index
.talkIndexpage {
  background: linear-gradient(#70e1f5, #ffd194);
  overflow: hidden;
  &_content {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    border-bottom: 1px solid gray;
  }
  &_field {
    margin-top: 30px;
    text-align: center;
  }
  &_btn {
    display: block;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 30px;
    background-color: coral;
    color: white;
  }
  &_btn2 {
    display: block;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 30px;
    background-color: gray;
    color: white;
  }
}