// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// users/confirm
.userConfirmpage { 
  background: linear-gradient(#70e1f5, #ffd194);
  overflow: hidden;
  color: black;
  &_img {
    margin-top: 50px;
    border-radius: 50%;
    overflow: hidden;
  }
  &_line {
    margin-top: 20px;
    border: 1px solid gray;
    background-color: white;
  }
  &_name {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 30px;
    border-bottom: 1px solid gray;
  }
  &_radio {
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
  }
  &_introduction {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 20px;
    border-top: 1px solid gray;
  }
  &_btn {
    display: block;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 30px;
    background: #33e905;
    color: white;
    margin-bottom: 100px;
  }
  &_btn2 {
    background: coral;
    color: white;
  }
  &_btn3 {
    display: block;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 30px;
    background-color: darkgray;
    color: white;
    margin-bottom: 20px;
  }
}


// users/edit
.userEditpage {
  background: linear-gradient(#70e1f5, #ffd194);
  overflow: hidden;
  &_title {
    margin-top: 50px;
    text-align: center;
    color: white;
    background-color: black;
  }
  &_field {
    margin-top: 20px;
  }
  &_destroy {
    margin-top: 20px;
    color: red;
  }
  &_btn {
    text-align: center;
    margin-top: 30px;
    color: white;
  }
  &_btn1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
  }
}