<footer>
  <small class="footer">
  <nav>
    <p class="button">
      <%= link_to "TOP", root_path %>
      <%= link_to "ABOUT", statics_about_path %>
    </p>
  </nav>
  </small>
  <div class="copyright">
    <p>Copyright (C) 2020 LivingAlone</p>
  </div>
</footer>